@model TestesBeneficios.Domain.Entidades.Empresa



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="RazaoSocial" class="control-label"></label>
                    <input asp-for="RazaoSocial" class="form-control" />
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="NomeFantasia" class="control-label"></label>
                    <input asp-for="NomeFantasia" class="form-control" />
                    <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-dark btn-rounded btn-fw" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="Index" type="button" class="btn btn-dark btn-rounded btn-fw">Voltar à Lista</a>
</div>

</body>
</html>
