@model TestesBeneficios.Domain.Entidades.Beneficiario

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
</head>
<body>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Beneficiarios </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row"                     
                        <div class="col 12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Beneficiaros</h4>
                                    <p class="card-description">Beneficiaros </p>
                                    <form class="forms-sample">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-sample">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-sample">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-sample">
                    <label asp-for="NomeMae" class="control-label"></label>
                    <input asp-for="NomeMae" class="form-control" />
                    <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>
               <div class="form-sample">
                    <label asp-for="Rg" class="control-label"></label>
                    <input asp-for="Rg" class="form-control" />
                    <span asp-validation-for="Rg" class="text-danger"></span>
            </div>
               <div class="form-sample">
                    <label asp-for="DataNascimento" class="control-label"></label>
                    <input asp-for="NomeMae" class="form-control" />
                    <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>
            <div class="form-sample">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                                    </form>
            </div>
                                        </div>
            </div>
            </div>
            </div>
            </div>
    </div>
</div>


</body>
</html>
