@using TestesBeneficios.Domain.Enumeradores;
@model TestesBeneficios.Domain.DTO.SimulacaoDTO

<div class="row mt-5">
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-spinner"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Progress tab</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">You can easily show your stats content by using these cards.</p>
            </div>
        </div>
        <div class="card theme-wizard mb-5">
            <div class="card-header bg-light pt-3 pb-2">
                <ul class="nav justify-content-between nav-wizard">
                    <li class="nav-item"><a  asp-action="Index" asp-controller="PlanoAdesao" class="nav-link  fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-lock"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Dados Pessoais</span></></a></li>
                    <li class="nav-item"><a  asp-action="Passo1" asp-controller="PlanoAdesao" class="nav-link fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-user"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Quantidade De Vidas</span></></a></li>
                    <li class="nav-item"><a  asp-action="Passo2" asp-controller="PlanoAdesao" class="nav-link active fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-dollar-sign"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Preferencias</span></></a >  </li>
                    <li class="nav-item"><a  asp-action="Passo3" asp-controller="PlanoAdesao" class="nav-link fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-thumbs-up"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Planosg</span></></a></li>
                </ul>
            </div>
            <div class="card-body py-4">
                <div class="tab-content">
                    <div class="tab-pane px-sm-3 active px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab3" id="bootstrap-wizard-tab3">
                        <div class="Container-xl">
                            <div class="row">
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>