@using TestesBeneficios.Domain.Enumeradores;
@model TestesBeneficios.Domain.DTO.SimulacaoDTO

<div class="row mt-5">
    <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
        <div class="d-flex mb-4">
            <span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-300"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-spinner"></i></span>
            <div class="col">
                <h5 class="mb-0 text-primary position-relative"><span class="bg-200 dark__bg-1100 pe-3">Progress tab</span><span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-index--1"></span></h5>
                <p class="mb-0">You can easily show your stats content by using these cards.</p>
            </div>
        </div>
        <div class="card theme-wizard mb-5">
            <div class="card-header bg-light pt-3 pb-2">
                <ul class="nav justify-content-between nav-wizard">
                    <li class="nav-item"><a  asp-action="Index" asp-controller="PlanoAdesao" class="nav-link  fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-lock"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Dados Pessoais</span></></a></li>
                    <li class="nav-item"><a  asp-action="Passo1" asp-controller="PlanoAdesao" class="nav-link fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-user"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Quantidade De Vidas</span></></a></li>
                    <li class="nav-item"><a  asp-action="Passo2" asp-controller="PlanoAdesao" class="nav-link active fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-dollar-sign"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Preferencias</span></></a >  </li>
                    <li class="nav-item"><a  asp-action="Passo3" asp-controller="PlanoAdesao" class="nav-link fw-semi-bold" data-bs-toggle="tab" data-wizard-step="data-wizard-step"><span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-thumbs-up"></span></span></span><span class="d-none d-md-block mt-1 fs--1">Planosg</span></></a></li>
                </ul>
            </div>
            <div class="card-body py-4">
                <div class="tab-content">
                    <div class="tab-pane px-sm-3 active px-md-5" role="tabpanel" aria-labelledby="bootstrap-wizard-tab3" id="bootstrap-wizard-tab3">
                        <form asp-action="Passo2"  class="form-validation">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden"asp-for="Nome" />
                            <input type="hidden" asp-for="Cpf" />
                            <input type="hidden" asp-for="Email" />
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label asp-for="AbrangenciaProduto" class="form-label" for="basic-form-gender">Abrangencia</label>
                                        <select asp-for="AbrangenciaProduto" asp-items="Html.GetEnumSelectList<AbrangenciaProduto>()" class="form-select" id="basic-form-gender" aria-label="Default select example">
                                            <span asp-validation-for="AbrangenciaProduto" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label asp-for="IdProfissao" class="form-label" for="basic-form-gender">IdProfissao</label>
                                        <select asp-for="IdProfissao" asp-items="@ViewBag.ProfissaoId" class="form-select" id="basic-form-gender" aria-label="Default select example">
                                            <span asp-validation-for="IdProfissao" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label asp-for="IdEntidadeDeClasse" class="form-label" for="basic-form-gender">IdEntidadeDeClasse</label>
                                        <select asp-for="IdEntidadeDeClasse" asp-items="@ViewBag.EntidadeDeClasseId" class="form-select" id="basic-form-gender" aria-label="Default select example">
                                       <span asp-validation-for="IdEntidadeDeClasse" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="px-sm-3 px-md-5">
                                <ul class="pager wizard list-inline mb-0">
                                    <li class="previous">
                                        <button class="btn btn-link ps-0" type="button"> Font Awesome fontawesome.com -->Prev</button>
                                    </li>
                                    <li class="next">
                                        <button value="Create" class="btn btn-primary px-5 px-sm-6" type="submit">Next</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>