@using TestesBeneficios.Domain.Enumeradores;
@model TestesBeneficios.Domain.DTO.SimulacaoDTO






<div class="card">
    <div class="card-body">
        <h4 class="card-title">Produto</h4>
        <p class="card-description">Produto </p>
        <form class="forms-sample" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-sample">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-sample">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-sample">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-sample">
                <label asp-for="Abrangencia" class="control-label"></label>
                <select asp-for="Abrangencia" class="form-control " asp-items="Html.GetEnumSelectList<AbrangenciaProduto>()"></select>
                <span asp-validation-for="Abrangencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfissao" class="control-label"></label>
                <select asp-for="IdProfissao" class="form-control" asp-items="@ViewBag.ProfissaoId"></select>
                <span asp-validation-for="IdProfissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEntidadeDeClasse" class="control-label"></label>
                <select asp-for="IdEntidadeDeClasse" class="form-control" asp-items="@ViewBag.EntidadeDeClasseId"></select>
                <span asp-validation-for="IdEntidadeDeClasse" class="text-danger"></span>
            </div>
            <div class="form-sample">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
