@model TestesBeneficios.Domain.Entidades.Usuario



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Usuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ConcurrencyStamp" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               <div class="form-group">
                    <label asp-for="SenhaUsuario" class="control-label"></label>
                    <input asp-for="SenhaUsuario" type="password" class="form-control p_input">
                    <span asp-validation-for="SenhaUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmacaoSenhaUsuario" class="control-label"></label>
                    <input asp-for="ConfirmacaoSenhaUsuario" type="password" class="form-control p_input">
                    <span asp-validation-for="ConfirmacaoSenhaUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>