@model TestesBeneficios.Domain.DTO.SimulacaoAbrangenciaDTO


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Abrangencia</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Uf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Uf)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cidade)
            </dd>
           
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" type="button" class="btn btn-dark btn-rounded btn-fw">Editar</a> |
        <a asp-action="Index" type="button" class="btn btn-dark btn-rounded btn-fw">Voltar</a>
    </div>
</body>
</html>